/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background-color: #5c87b2;
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px !important;
}

#main
{
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscrore */
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:40px;
}

#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

.field-validation-error
{
    color: #ff0000;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}


/* Styles for Navigation */
#sidebar {
	float: left;
	width: 190px;
	background-color: #d3d3d3;
	position: relative;
	clear: both;
	display: inline;
	min-height: 520px;
}
#content {
	margin-top: 0;
	margin-left: 200px;
	margin-right: 10px;
	padding: 10px;
	background-color: #fff;
	position: relative;
	min-height: 500px;
}

#content ul 
{
	margin: 0;
	padding: 0;
}

#sidebar #main_menu ul {
	list-style-type: none;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
#sidebar #main_menu li {
	font-size: 0.9em;
	display: block;
	margin: 0;
	padding: 0;
	border: 1px solid #d3d3d3;
}
#sidebar #main_menu a {
	font-weight: bold;
	text-decoration: none;
	color: #118;
	display: block;
	padding: 5px;
	border-bottom: 1px solid #f2f2f2;
}
#sidebar #main_menu a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #118;
	border-bottom: 1px solid #f2f2f2;
	background-color: #f2f2f2;
}
#sidebar #sub_menu {
	margin: 5px;
	color: #444444;
}
#sidebar #sub_menu a img {
	border: 0;
}
#sidebar #sub_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#sidebar #sub_menu ul li {
	margin: 5px;
}
#sidebar #sub_menu a {
	text-decoration: none;
	color: #444444;
}
#sidebar #sub_menu a:hover {
	color: #ffffff;
}


/* --- layout for items in reader --*/
.rounded_box { 
	background-color: #E6E6E6;
	margin-top: 5px;
	cursor: pointer;
}

.rounded_box_content {
	padding: 0 5px;
}

b.rbottom {
	display:block;
	background: #ffffff;
}

b.rtop {
	display:block;
	background: #ffffff;
}
b.rbottom b {
	display:block;
	height: 1px;
    overflow: hidden; 
    background: #e6e6e6;
}

b.rtop b {
	display:block;
	height: 1px;
    overflow: hidden; 
    background: #e6e6e6;
}

b.r1 {
	margin: 0 5px;
}

b.r2 {
	margin: 0 3px;
}

b.r3 {
	margin: 0 2px;
}

b.rbottom b.r4 {
	margin: 0 1px;
	height: 2px;
}

b.rtop b.r4 {
	margin: 0 1px;
	height: 2px;
}

.title {
	font-weight: bold;
}

.title_bar {
 background: #d3d3d3;
}

.read {
	color: #9D9D9D;
}

.item_date {
	font-size: x-small;
	text-align: right;
}

.feed_date {
	font-size: x-small;
}

.clicked {
	color: #94B5C5;
}

.box {
	border: thin #666666 solid;
	text-decoration: none;
	margin-top: 5px;
	padding: 5px;
	min-width: 5em;
}

